body {
  margin: 0%;
  background: #f5f5f5;
}

.inline-block {
  display: inline-block;
  text-align: top;
  list-style-type: none;
}

.logo {
  background: #f5f5f5;
  background-image: url("../images/JAMES WOLCALE UI.UX.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 250px;
  justify-content: right;
  margin-left: 2%;
}

.nav {
  width: 100%;
  display: inline-flex;
  background-color: #f5f5f5;
  position: fixed;
  justify-content: center;
  z-index: 1;
}

.ul {
  margin-left: auto;
  display: inline;
}

.navLinks {
  justify-content: right;
  background-color: #f5f5f5;
  margin-left: 40%;
  margin-right: 2%;
}

.heroSection {
  padding-top: 63px;
  padding-bottom: 60px;
}

.heroContainer {
  display: flex;
  color: #f5f5f5;
  width: 96%;
  background-image: url("../images/Hero Image.jpg");
  background-size: cover;
  height: fit-content;
  padding: 2%;
}

.heroContent {
  margin-top: 3%;
  margin-left: 6%;
  padding-top: 8px;
  padding-bottom: 17px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: rgba(0,0,0,.5);
  width: 25%;
  height: fit-content;
  margin-bottom: 5%;
}

.ctaButton {
  background-color: #f5f5f5;
  color: #404040;
  margin-left: 37%;
  margin-top: 8%;
  height: 50px;
  width: 220px;
}

footer {
  background-color: #373738;
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 400px;
}

ul {
  display: inline-block;
  padding: 5px;
}

li {
  padding: 0%;
  display: inline;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 22px;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  text-align: center;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  text-align: center;
}

h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 20px;
}

button {
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  letter-spacing: 2px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 25px;
  height: 45px;
  background-color: rgb(0, 140, 255);
  color: #f5f5f5
}

button:hover {
  background-color: #41DCC9;
  color: #404040
}

.sectionButton {
  justify-items: center;
  background-color: aqua;
}

.flexContainer {
  display: flex;
  flex-direction: row;
  padding: 15px;
}

.containerCard {
  width: 97%;
  background-color: #404040;
  color: #f5f5f5;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  text-align: center;
  display: flex;
  max-height: 290px;
  transition: transform .2s;
}

.containerCard:hover {
  transform: scale(1.015);
}

.workGrid {
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;
}

.myWork {
  padding-bottom: 60px;
}

.myWorkImage {
  width: 290px;
}

.cardText {
  padding-top: 4%;
  padding-left: 4%;
  padding-right: 4%;
}

.skillsFlexContainer {
  display: flex;
}

.skillsContainerCard {
  width: 100%;
  margin-left: .75%;
  margin-right: .75%;
  background-color: #404040;
  display: inline;
}

.skillsImg {
  width: 100%;
}

.cardText {
  background-color: #404040;
  color: #f5f5f5;
  padding-top: 4%;
  padding-left: 4%;
  padding-right: 4%;
  text-align: center;
}

.cardTextSkills {
  background-color: #404040;
  color: #f5f5f5;
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 6%;
  text-align: center;
}

@media only screen and (max-width: 600){
  .flexContainer {
    display: flex;
    flex-direction: column;
  }
  
  .workGrid {
    display: flex;
    flex-direction: column;
  }
}